<!-- Commented out due to small number of pages, can be added once we have more logos -->

<!-- <li>
  <%= link_to_unless current_page.last?, raw(t 'views.pagination.last'), url, {:remote => remote} %>
</li>
 -->