
<% @logos.each do |logo| %>
  <div class = "span3.5 logo_index">

    <ul>
      <li ><%= logo.title %></li>        
      <li><%= image_tag logo.logo.thumb.url, :class => "img-polaroid" %></li>
    </ul>

  </div>
<% end %>
</div>

<div class = >
<%= paginate @logos%>
</div>